h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

.navlink {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.process_item {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.footer {
  background-color: dimgray;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}

#des_ny {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#pagetop {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}

#process {
  text-align: center;
}

#info {
  text-align: center;
}
