h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.navlink {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

#pagetop {
  background-image: url("../images/the-flatiron-building.png")
}
